doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Payment card
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
    link(rel="stylesheet" href="css/main.min.css")
  body
    form.payment-card(action="#" method="post")
      ul.credit-cards-icon
        li.mc
        li.visa
        li.ae
        li.ec
        li.jcb
      .input-icon-block
        label.input-icon(for="select-credit-card")
          span.change-credit-card.mc
        select#select-credit-card(data-z-index="1")
          option(value="mc") Master Card
          option(value="visa", selected) Visa
          option(value="ae") American Express
          option(value="ec") Electronic Cash
          option(value="jcb") JCB
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="//cdn.jsdelivr.net/jquery.formstyler/1.7.4/jquery.formstyler.min.js")
    script(src="js/common.min.js")